/* Universal selector */
*{
    color: red;
}

/* tag selector */
p{
    color: blue;
}

/* class selector */
.para{
    color: pink;
}
:hover{
    color: aqua;
}

/* pseudo-element selector - 1 */
p::first-line{
    color: cyan;
}

/* attribute selector */
a[href="#"]{
    color: violet;
}

/* id-selector - 100*/
#id{
    /* 10,000 specificity */
    color: blueviolet !important; 
}