table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /* border-style: dashed; */
    padding: 10px 5px;
    text-align: center;
}
table{
    width: 100%;
}
th{
    background-color: lightblue;
}

/* pseudo class */
tr:nth-child(even){
    background-color: lightgrey;
}
